extends ./templates/admin-layout.pug
include ./templates/mixins.pug

block content
    .container
        .row.justify-content-center
            .col-12.col-md-4.POSTProject
                h3 POST project 
                form(name="projectPost" method="POST" action="/projects")
                    p Name of prj
                    input(type="text" name="name")
                    p About a prj (better 160 letters or less)
                        textarea(type="text" name="about")
                    p Used (like scss, node or something more)
                        input(type="text" name="used")
                    p Link to the project (heroku if its dead)
                        input(type="text" name="link")
                    button(type="sumbit"  value="postthisshit") POST new project
            .col-12.col-md-4.DELETEproject
                h3 DELETE project 
                form(name="projectDELETE" id="projectDELETE")
                    p ID of project
                    input(type="text" name="id")
                    button(type="sumbit" value="postthisshit") DELETE project
            .col-12.col-md-4.PATCHproject
                h3 PATCH project 
                form(id="projectPATCH" name="projectPost")
                    p id of project
                    input(type="text" name="id")
                    p Name of prj
                    input(type="text" name="name")
                    p About a prj (better 160 letters or less)
                        textarea(type="text" name="about")
                    p Used (like scss, node or something more)
                        input(type="text" name="used")
                    p Link to the project (heroku if its dead)
                        input(type="text" name="link")
                    button(type="sumbit" value="postthisshit") PATCH project